<!DOCTYPE html>
<html>
	<head>
		<title>Crash Reporter Server</title>
		<link rel="shortcut icon" href="https://assets-cdn.github.com/favicon.ico" type="image/x-icon"/>
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link href="css/dashboard.css" rel="stylesheet" type="text/css">
	</head>

	<style type="text/css" media="screen">
		a {
			text-decoration: none;
		}
	</style>

	<body>
		<div class="columns" id="login-form">
			<div class="column is-8 is-offset-2 has-text-centered">
				<h1 class="title">DASHBOARD</h1>

				<table class="table is-fullwidth is-striped">
					<thead>
						<tr>
							<th>Company</th>
							<th>Product</th>
							<th>Version</th>
							<th>Platform</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="content has-text-centered">
					<p>
						by <a href="https://github.com/marianoheller">Mariano Heller <i class="fa fa-github"></i></a>
					</p>
				</div>
			</div>
		</footer>
		<script src="js/dashboard.js"></script>
	</body>
</html>
